---


import Editor from "../components/editor.jsx";


---

<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Puck Editor</title>
  </head>

  <body>
    <Editor client:only="react" />
  </body>
</html>