---
import "../styles/header.css";
---

<header class="header">
    <div class="header-container">
        <h1 class="logo">Astro Shop</h1>

        <nav class="nav">
            <a href="/">Trang chủ</a>
            <a href="/about">Giới thiệu</a>
        </nav>
    </div>
</header>