---
import "../styles/product-card.css";

const { name, price } = Astro.props;
---

<div class="card">
    <img
        src="https://placehold.co/300x200"
        alt={name}
    />

    <h3>{name}</h3>

    <p>{price}</p>

    <button>Mua ngay</button>
</div>