---
import "../styles/product-card.css";

const { name, price, image } = Astro.props;
---

<div class="card">
    <img
        src={image.src}
        alt={name}
    />

    <h3>{name}</h3>

    <p>{price}</p>

    <button>Mua ngay</button>
</div>