---
import Components1 from "../components/admin-components1.jsx";
import "../styles/global.css";
---

<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Sen Hồng</title>
  </head>

  <body>
    <Components1 client:load />
  </body>
</html>