---
import "../styles/global.css";
import App from "../components/app";
---



<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Website Builder</title>
  </head>

  <body>
    <App client:load />
  </body>
</html>